<a href="/home">Home</a>
<h1><%=@trip.name%></h1>
<h2>Budget: $<%=@trip.budget%> Total</h2>
<h2>Number of Travelers: <%=@trip.travelers%></h2>
<h2>Departure City: <%=@trip.flight.departure_city%></h2>

<%if @trip.user_id == current_user.id%>

<br></br>
<br></br>

<a href="/trips/<%=@trip.id%>/edit">Edit Trip</a>

<br></br>
<form action="/trips/<%=@trip.id%>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Trip">
</form>

<%end%>
